<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
          <initialize>
            <processor type="Demo.Project.Demo.Routes.InitRoutes, Demo.Project.Demo" patch:after="processor[@type='Sitecore.Services.Infrastructure.Sitecore.Pipelines.ServicesWebApiInitializer, Sitecore.Services.Infrastructure.Sitecore']" />
          </initialize>
        </pipelines>
      <services>
        <configurator type="Demo.Project.Demo.IoC.DemoServicesConfigurator, Demo.Project.Demo" />
      </services>

        <settings>

            <!--Machine Learning endpoints-->
            <setting name="MlHostUrl" value="http://ml.demo"/>
            <setting name="MlApi_ProductHistory" value="/api/forecast/productstats"/>
            <setting name="MlApi_ProductForecast" value="/api/forecast/productforecast"/>
            <setting name="MlApi_CountryHistory" value="/api/forecast/countrystats"/>
            <setting name="MlApi_CountryForecast" value="/api/forecast/countryforecast"/>
            <setting name="MlApi_CountryList" value="/api/forecast/getcountries"/>

            <!--Sitecore API endpoints for Experience Analytics forecast module-->
            <setting name="SitecoreApi_CountryList" value="/api/productapi/getcountries"/>
            <setting name="SitecoreApi_FindProduct" value="/api/productapi/findproduct"/>
            <setting name="SitecoreApi_ProductHistory" value="/api/productapi/history"/>
            <setting name="SitecoreApi_ProductForecast" value="/api/productapi/forecast"/>
            <setting name="SitecoreApi_CountryHistory" value="/api/productapi/countryhistory"/>
            <setting name="SitecoreApi_CountryForecast" value="/api/productapi/countryforecast"/>

        </settings>

    </sitecore>
</configuration>